<configuration>
  <dllmap os="osx" dll="avcodec-54" target="/opt/local/lib/libavcodec.54.dylib"/>
  <dllmap os="osx" dll="avfilter-3" target="/opt/local/lib/libavfilter.3.dylib"/>
  <dllmap os="osx" dll="swresample-0" target="/opt/local/lib/libswresample.0.dylib"/>
  <dllmap os="osx" dll="avformat-54" target="/opt/local/lib/libavformat.54.dylib"/>
  <dllmap os="osx" dll="avutil-52" target="/opt/local/lib/libavutil.52.dylib"/>
  <dllmap os="osx" dll="swscale-2" target="/opt/local/lib/libswscale.2.dylib"/>
  <dllmap os="osx" dll="postproc-52" target="/opt/local/lib/libpostproc.52.dylib"/>
  <dllmap os="osx" dll="avdevice-54" target="/opt/local/lib/libavdevice.54.dylib"/>
  <dllmap os="linux" dll="avcodec-54" target="libavcodec"/>
  <dllmap os="linux" dll="avfilter-3" target="libavfilter"/>
  <dllmap os="linux" dll="swresample-0" target="libswresample"/>
  <dllmap os="linux" dll="avformat-54" target="libavformat"/>
  <dllmap os="linux" dll="avutil-52" target="libavutil"/>
  <dllmap os="linux" dll="swscale-2" target="libswscale"/>
  <dllmap os="linux" dll="postproc-52" target="libpostproc"/>
  <dllmap os="linux" dll="avdevice-54" target="libavdevice"/>
</configuration>