<configuration>
  <dllmap os="osx" dll="avcodec-56" target="/opt/local/lib/libavcodec.56"/>
  <dllmap os="osx" dll="avfilter-5" target="/opt/local/lib/libavfilter.5"/>
  <dllmap os="osx" dll="swresample-1" target="/opt/local/lib/libswresample.1"/>
  <dllmap os="osx" dll="avformat-56" target="/opt/local/lib/libavformat.56"/>
  <dllmap os="osx" dll="avutil-54" target="/opt/local/lib/libavutil.54"/>
  <dllmap os="osx" dll="swscale-3" target="/opt/local/lib/libswscale.3"/>
  <dllmap os="osx" dll="postproc-53" target="/opt/local/lib/libpostproc.53"/>
  <dllmap os="osx" dll="avdevice-56" target="/opt/local/lib/libavdevice.56"/>
  <dllmap os="linux" dll="avcodec-56" target="libavcodec.56"/>
  <dllmap os="linux" dll="avfilter-5" target="libavfilter.5"/>
  <dllmap os="linux" dll="swresample-1" target="libswresample.1"/>
  <dllmap os="linux" dll="avformat-56" target="libavformat.56"/>
  <dllmap os="linux" dll="avutil-54" target="libavutil.54"/>
  <dllmap os="linux" dll="swscale-3" target="libswscale.3"/>
  <dllmap os="linux" dll="postproc-53" target="libpostproc.53"/>
  <dllmap os="linux" dll="avdevice-56" target="libavdevice.56"/>
</configuration>