<configuration>
  <dllmap os="osx" dll="avcodec-55" target="/opt/local/lib/libavcodec.55"/>
  <dllmap os="osx" dll="avfilter-4" target="/opt/local/lib/libavfilter.4"/>
  <dllmap os="osx" dll="swresample-0" target="/opt/local/lib/libswresample.0"/>
  <dllmap os="osx" dll="avformat-55" target="/opt/local/lib/libavformat.55"/>
  <dllmap os="osx" dll="avutil-52" target="/opt/local/lib/libavutil.52"/>
  <dllmap os="osx" dll="swscale-2" target="/opt/local/lib/libswscale.2"/>
  <dllmap os="osx" dll="postproc-52" target="/opt/local/lib/libpostproc.52"/>
  <dllmap os="osx" dll="avdevice-55" target="/opt/local/lib/libavdevice.55"/>
  <dllmap os="linux" dll="avcodec-55" target="libavcodec.55"/>
  <dllmap os="linux" dll="avfilter-4" target="libavfilter.4"/>
  <dllmap os="linux" dll="swresample-0" target="libswresample.0"/>
  <dllmap os="linux" dll="avformat-55" target="libavformat.55"/>
  <dllmap os="linux" dll="avutil-52" target="libavutil.52"/>
  <dllmap os="linux" dll="swscale-2" target="libswscale.2"/>
  <dllmap os="linux" dll="postproc-52" target="libpostproc.52"/>
  <dllmap os="linux" dll="avdevice-55" target="libavdevice.55"/>
</configuration>