<configuration>
  <dllmap os="linux" dll="avcodec-54" target="avcodec"/>
  <dllmap os="linux" dll="avfilter-3" target="avfilter"/>
  <dllmap os="linux" dll="swresample-0" target="swresample"/>
  <dllmap os="linux" dll="avformat-54" target="avformat"/>
  <dllmap os="linux" dll="avutil-52" target="avutil"/>
  <dllmap os="linux" dll="swscale-2" target="swscale"/>
  <dllmap os="linux" dll="postproc-52" target="postproc"/>
  <dllmap os="linux" dll="avdevice-54" target="avdevice"/>
  <dllmap os="osx" dll="avcodec-54" target="avcodec"/>
  <dllmap os="osx" dll="avfilter-3" target="avfilter"/>
  <dllmap os="osx" dll="swresample-0" target="swresample"/>
  <dllmap os="osx" dll="avformat-54" target="avformat"/>
  <dllmap os="osx" dll="avutil-52" target="avutil"/>
  <dllmap os="osx" dll="swscale-2" target="swscale"/>
  <dllmap os="osx" dll="postproc-52" target="postproc"/>
  <dllmap os="osx" dll="avdevice-54" target="avdevice"/>
</configuration>