name: main
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest, windows-latest, macos-latest]
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Library Build & Test
        run: |
          dotnet build -c Release
          dotnet test -c Release
      - name: Build Redist windows x64
        if: matrix.os == 'windows-latest'
        run: |
          dotnet build -c Release FFmpeg.AutoGen.Redist.windows.x64
      - uses: actions/upload-artifact@v2
        if: matrix.os == 'windows-latest'
        with:
          path: FFmpeg.AutoGen/bin/Release/*.nupkg
          if-no-files-found: error
      - uses: actions/upload-artifact@v2
        if: matrix.os == 'windows-latest'
        with:
          path: FFmpeg.AutoGen/bin/Release/*.snupkg
          if-no-files-found: error
      - uses: actions/upload-artifact@v2
        if: matrix.os == 'windows-latest'
        with:
          path: FFmpeg.AutoGen.Redist.windows.x64/bin/Release/*.nupkg
          if-no-files-found: error
      - name: Codegen Build & Test
        if: matrix.os == 'windows-latest'
        run: |
          rm FFmpeg.AutoGen/*.g.cs
          dotnet run -c Release -p FFmpeg.AutoGen.CppSharpUnsafeGenerator -- -i FFmpeg -o FFmpeg.AutoGen
          dotnet build FFmpeg.AutoGen
